@css {
  .btn-video-play {
    @apply block;
    -webkit-filter: drop-shadow(0 2px 6px #999);
    filter: drop-shadow(0 2px 6px #999);
    z-index: 2;
  }

  .btn-video-play:hover .btn-video-play-arrow {
    fill: rgba(255,255,255,1);
  }

  .btn-video-play-container:hover .btn-video-play-box {
    stroke: #fff;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset .7s .4s ease-out, stroke-dashoffset .4s ease-out;
  }

  .btn-video-play-arrow {
    fill: #fff;
    stroke-linecap: square;
    transition: all .6s ease-out;
  }

  .btn-video-play-box {
    fill: rgba(0,0,0,0);
    stroke: rgba(0,0,0,0);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: all .4s ease-out;
  }
}