@css {
  .page p {
    @apply font-georgia;
    @apply font-normal;
    @apply leading-normal;
    @apply mb-4;
    @apply text-base;
    @apply text-gray-600;
  }

  hr {
    @apply block;
    @apply my-2;
    @apply mx-auto;
    border-style: inset;
    border-width: 0.5px;
    @apply border-gray-100;
  }

  input[type=email]:focus {
    border: 1px solid #2199E8;
  }

  input[type=password]:focus {
    border: 1px solid #2199E8;
  }

  input[type=text]:focus {
    border: 1px solid #2199E8;
  }
}
