@css {
  .label-multimedia,
  .label-sub-multimedia {
    @apply absolute;
    @apply bg-blue-royal-700;
    @apply flex;
    @apply font-pt-sans;
    @apply leading-none;
    @apply left-0;
    @apply px-4;
    @apply py-2;
    @apply text-xs;
    @apply uppercase;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    top: 16px;
    z-index: 2;
  }

  .label-sub-multimedia {
    @apply bg-gray-600;
  }

  @media screen and (min-width : 576px){

  .label-multimedia::before,
  .label-sub-multimedia::before {
    @apply absolute;
    @apply block;
    @apply left-0;
    border-color: transparent #003c67;
    border-style: solid;
    border-width: 0 1rem 1rem 0;
    bottom: -16px;
    content: '';
    height: 0;
    width: 0;
  }

  .label-sub-multimedia::before{
    border-color: transparent #4d4d4d;
  }

  }
}