@css {
  .label-bebas{
    @apply font-bold;
    @apply font-pt-sans;
    @apply leading-none;
    @apply py-1;
    @apply px-2;
    @apply rounded-full;
    @apply text-blue-royal-700;
    @apply uppercase;
    background-color: #e5eef5;
    font-size: 9px;
  }
}