@css {
  .transition-background{
    -webkit-transition: background-color 0.3s;     
    transition: background-color 0.3s;
  }

  .transition-opacity{
    transition:opacity 0.2s linear;
  }

  .transition-opacity:hover{
    @apply opacity-100;
  }

}